body {
    font-family: 'Syne', sans-serif;
    color: #737673;
    font-weight: 400;
    background-color: snow;
}
.text-center {
    text-align: center;
}
.text-thick {
    font-weight: 500;
}

.title-name {
    margin-top: 70px;
    font-weight: 500;
    font-size: 60px;
    font-size-adjust: inherit;
}
a:any-link {
    color: #737673;
    background-color: transparent;
    text-decoration: none;
}
.inspirational-quote {
    margin-left: 20px;
}
.logo-photo {
    margin-top: 25px;
}
.logo-credentials {
    margin-left: 80px;
}