body {
    font-family: 'Syne', sans-serif;
    color: #737673;
    font-weight: 400;
    background-color: snow;
}
.text-center {
    text-align: center;
}
.text-thick {
    font-weight: 500;
}

.h1-margin {
    margin-top: 50px;
}
a:any-link {
    color: #737673;
    background-color: transparent;
    text-decoration: none;
}